:root {
  --branding-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --additional-color: #757575;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --hover-color: #188ce8;
  --shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.slogan {
  color: var(--secondary-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.our-command {
  background-color: var(--second-background-color);
}
.employees {
  font-size: 36px;
  font-weight: bold;
}

.list-advantage {
  font-weight: bold;
  text-transform: uppercase;
}
.name {
  font-size: 16px;
  font-weight: 500;
}

.list {
  list-style-type: none;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: var(--branding-color);
}
.logo-nav {
  color: var(--main-color);
}
.logo-footer {
  color: var(--secondary-color);
}

.active .link:hover,
.active .link:focus {
  color: var(--branding-color);
}
.link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.main-button {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background-color: var(--hover-color);
  cursor: pointer;
}
.hero {
  background-color: var(--background-color);
  color: var(--secondary-color);
}
.advantage {
  color: var(--additional-color);

  line-height: 1.71;
}
.cards {
  background-color: var(--secondary-color);
}
.portfolio {
  background-color: var(--second-background-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.63;
  cursor: pointer;
}
.portfolio:hover,
.portfolio:focus {
  background-color: var(--branding-color);
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}
.projects {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-name {
  color: var(--additional-color);
  font-size: 16px;
  line-height: 1.88;
}
.address {
  font-style: normal;
}
.link-contacts {
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}
.link-contacts-header {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--additional-color);
}
.our-ability {
  font-size: 36px;
  font-weight: 700;
  color: var(--main-color);
}
.current {
  color: var(--branding-color);
}
.link-contacts-header:hover,
.link-contacts-header:focus {
  color: var(--branding-color);
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--branding-color);
}
.tel-email {
  opacity: 0.6;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.team-card {
  background: var(--secondary-color);
  box-shadow: var(--shadow-color);
  border-radius: 0px 0px 4px 4px;
}
